<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <meta name="description" content="Symbio Center Web">
        <meta name="author" content="Yoan Rotru, Symbiofi">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">SymbioCenter</h1>
                <p>Cette application est une démonstration de faisabilité dont l'objectif est d'envoyer un signal au serveur depuis le <strong>driver</strong> d'un utilisateur, de traiter ce signal via un programme C++ sur le serveur, d'enregistrer le résultat en base MonogoDb et de le renvoyer au <strong>navigateur</strong> de ce même utilisateur. Pour cela, sont utilisés les web sockets avec nodejs, express et socket.io et une authentification utilisant les <a href="https://auth0.com/blog/auth-with-socket-io/" target=""_blank">tokens</a> .</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-1">
                            <span id="socketDriverConnexion" style="top:8px;position:absolute;border-radius:12px;background:red;width:24px;height:24px"></span>
                        </div>
                        <div class="col-md-7">
                            <h2>SymbioCenterDriver</h2>
                        </div>
                    </div>
                    <p>
                    <h4>Connexion</h4>
                    <form class="form" >
                        <input type="text" id="emailDriver" placeholder="Email"/>
                        <input type="password" id="passwordDriver"  placeholder="Mot de passe"/><br>
                        <input type="button" class="btn btn-primary" id="loginDriver" value="Login"/>
                        <input type="button" class="btn btn-danger" id="logoutDriver" value="Logout"/>
                    </form>
                    </p>
                    <p>
                    <h4>Envoyer un signal</h4>
                    <form class="form" id="sendSignal">
                        <input type="text" id="signal" value="51566468"/>
                        <input type="submit"  class="btn btn-primary" value="Envoyer"/>
                    </form>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-1">
                            <span id="socketWebConnexion" style="top:8px;position:absolute;border-radius:12px;background:red;width:24px;height:24px"></span>
                        </div>
                        <div class="col-md-7">
                            <h2>SymbioCenterWeb</h2>
                        </div>
                    </div>
                    <p>
                    <h4>Connexion</h4>
                    <form class="form">
                        <input type="text" id="emailWeb" placeholder="Email"/>
                        <input type="password" id="passwordWeb"  placeholder="Mot de passe"/><br>
                        <input type="button" class="btn btn-primary" id="loginWeb" value="Login"/>
                        <input type="button" class="btn btn-danger" id="logoutWeb" value="Logout"/>
                    </form>
                    </p>
                    <h4>Signaux reçus</h4>
                    <div id="Web1SignauxRecus">

                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <script type="text/javascript">

            var socketDriver;
            $('#loginDriver').click(function (e) {
                socketDriver = io.connect('http://localhost:8080');
                socketDriver.on('connect', function () {
                    console.log("try to connect");
                    socketDriver.emit('authentication', {username: $('#emailDriver').val(), password: $('#passwordDriver').val()});
                    socketDriver.on('authenticated', function () {
                        $("#socketDriverConnexion").css('background', 'rgb(145,255,79)');
                    });
                    socketDriver.on('unauthorized', function (err) {
                        console.log("There was an error with the authentication:", err.message);
                    });
                }).on('disconnect', function () {
                    $("#socketDriverConnexion").css('background', 'red');
                });
            });

            $('#logoutDriver').click(function (e) {
                e.preventDefault();
                socketDriver.disconnect();
            });
            $('#sendSignal').submit(function (e) {
                e.preventDefault();
                socketDriver.emit('signal', $('#signal').val());
            });

            var socketWeb;
            $('#loginWeb').click(function (e) {
                socketWeb = io.connect('http://localhost:8080');
                socketWeb.on('connect', function () {
                    console.log("try to connect");
                    socketWeb.emit('authentication', {username: $('#emailWeb').val(), password: $('#passwordWeb').val()});
                    socketWeb.on('authenticated', function () {
                        $("#socketWebConnexion").css('background', 'rgb(145,255,79)');
                    });
                    socketWeb.on('unauthorized', function (err) {
                        console.log("There was an error with the authentication:", err.message);
                    });
                    socketWeb.on('signal-received', function (cc) {
                        $("#Web1SignauxRecus").html($("#Web1SignauxRecus").html() + "<div>" + cc.sum + "</div>");
                    })
                }).on('disconnect', function () {
                    $("#socketWebConnexion").css('background', 'red');
                });
            });


            $('#logoutWeb').click(function (e) {
                e.preventDefault();
                socketWeb.disconnect();
            });

        </script>
    </body>
</html>