<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <meta name="description" content="Symbio Center Web">
        <meta name="author" content="Yoan Rotru, Symbiofi">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-md-center">
                <h1><%= title %></h1>
            </div>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <input type="text" style="font-size: 20px;width: 200px;text-align: center;" id="signal-received1" value="">
                </div>
                <div class="col col-md-8">
                    <div id="biofeedbacks1"></div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <input type="text" style="font-size: 20px;width: 200px;text-align: center;" id="signal-received2" value="">
                </div>
                <div class="col col-md-8">
                    <div id="biofeedbacks2"></div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <input type="text" style="font-size: 20px;width: 200px;text-align: center;" id="signal-received3" value="">
                </div>
                <div class="col col-md-8">
                    <div id="biofeedbacks3"></div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <input type="text" style="font-size: 20px;width: 200px;text-align: center;" id="signal-received4" value="">
                </div>
                <div class="col col-md-8">
                    <div id="biofeedbacks4"></div>
                </div>
            </div>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <input type="text" style="font-size: 20px;width: 200px;text-align: center;" id="signal-received5" value="">
                </div>
                <div class="col col-md-8">
                    <div id="biofeedbacks5"></div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <script type="text/javascript">
            var socket1 = io.connect('http://192.168.2.167:8080',{query: 'email=yoanr1@symbiofi.com'});
            socket1.on('signal-received', function (signal) {
                $("#signal-received1").val(signal);
            });
            
            var socket2 = io.connect('http://192.168.2.167:8080',{query: 'email=yoanr2@symbiofi.com'});
            socket2.on('signal-received', function (signal) {
                $("#signal-received2").val(signal);
            });
            
            var socket3 = io.connect('http://192.168.2.167:8080',{query: 'email=yoanr3@symbiofi.com'});
            socket3.on('signal-received', function (signal) {
                $("#signal-received3").val(signal);
            });
            
            var socket4 = io.connect('http://192.168.2.167:8080',{query: 'email=yoanr4@symbiofi.com'});
            socket4.on('signal-received', function (signal) {
                $("#signal-received4").val(signal);
            });
            
            var socket5 = io.connect('http://192.168.2.167:8080',{query: 'email=yoanr5@symbiofi.com'});
            socket5.on('signal-received', function (signal) {
                $("#signal-received5").val(signal);
            });
            
            socket1.on('last-biofeedbacks', function (lastBiofeedbacks) {
                $("#biofeedbacks1").html(getHtml(lastBiofeedbacks));
            });
            socket2.on('last-biofeedbacks', function (lastBiofeedbacks) {
                $("#biofeedbacks2").html(getHtml(lastBiofeedbacks));
            });
            socket3.on('last-biofeedbacks', function (lastBiofeedbacks) {
                $("#biofeedbacks3").html(getHtml(lastBiofeedbacks));
            });
            socket4.on('last-biofeedbacks', function (lastBiofeedbacks) {
                $("#biofeedbacks4").html(getHtml(lastBiofeedbacks));
            });
            socket5.on('last-biofeedbacks', function (lastBiofeedbacks) {
                $("#biofeedbacks5").html(getHtml(lastBiofeedbacks));
            });
            
            function getHtml(lastBiofeedbacks){
                var html = "";
                html += "<table class='table table-stripes'><thead><tr><th>Signal</th><th>Min</th><th>Max</th><th>Somme</th></tr></thead><tbody>"
                lastBiofeedbacks.forEach(function (biofeedback) {
                    html += "<tr>\n\
                                                <td>" + biofeedback.signal + "</td>\n\
                                                <td>" + biofeedback.min + "</td>\n\
                                                <td>" + biofeedback.max + "</td>\n\
                                                <td>" + biofeedback.sum + "</td>\n\
                                                </tr>";
                });
                html += "</tbody></table>";
                return html;
            }
        </script>
    </body>
</html>