body{
    /*background-image: url("../img/background.jpg");*/
    /*background-size: cover;*/
    font-family: 'Roboto', sans-serif;
    color: white !important;
}
h1, h2, h3, h4, h5{
    color: white !important;
    font-weight: bold  !important;
}
.cadre{
    background-color: rgba(100, 100, 100, 0.6);
}
.barre{
    text-decoration: line-through;
}
.expert-element{
    padding: 0 !important;
}
.expert-element-title{
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px;
}
.param-btn{
    font-size: 20px;
    position: absolute !important;
    top: 20px !important;
    right: 20px;
}

